<div *ngIf="packageForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Packages</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancelClick()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="packageForm">
            <div class="form-group">
                <label for="csvFile" class="form-label">Select CSV File</label>
                <input type="file" formControlName="csvFile" class="form-control-file" #csvFile>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="onSubmit(csvFile)">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <i class="fa fa-save"></i> Add
        </button>
        <a class="btn btn-link btn-sm" (click)="onCancelClick()">Cancel</a>
    </div>
</div>

