<div *ngIf="packageForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Packages</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancelClick()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="packageForm">
            <div class="form-group">
                <label for="csvFile" class="form-label">Select CSV File</label>
                <input type="file" accept=".xls" formControlName="csvFile" class="form-control-file" (change)="onLoad($event)">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="onSubmit()">
            <fa-icon [icon]="faSave"></fa-icon> Add
        </button>
        <a class="btn btn-link btn-sm" (click)="onCancelClick()">Cancel</a>
    </div>
</div>

