<!-- nav -->
<nav class="navbar navbar-expand-md navbar-light bg-secondary">
    <a class="navbar-brand text-light" style="pointer-events: none"><span style="color:#8e2323">RED</span> VAN SORTER</a>
    <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" *ngIf="currentUser">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-light" id="navbarNavDropdown" *ngIf="currentUser">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" [class.active]="isActiveRoute('/')">
                <a class="nav-link" [routerLink]="'/'"><fa-icon [icon]="faArchive"></fa-icon> PACKAGES LIST</a>
            </li>
            <li class="nav-item" [class.active]="isActiveRoute('/scanner')">
                <a class="nav-link" [routerLink]="'/scanner'"><fa-icon [icon]="faQrcode"></fa-icon> SCANNER</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light"
                   style="pointer-events: none"><fa-icon [icon]="faUserCircle"></fa-icon> {{currentUser.fullName.toUpperCase()}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #8e2323" (click)="openLogoutModal()"><fa-icon [icon]="faPowerOff"></fa-icon> LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron bg-light-custom">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 offset-sm-2">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-secondary">
        <p class="text-light">Made with &hearts; by Brilliant-Apps.Club</p>
        <p class="text-light"><span>V{{version}} © 2021</span> RED Van Logistics LLC. All rights reserved.</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
