<!-- nav -->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="pointer-events: none;">Package Sorter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" *ngIf="currentUser">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="currentUser">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/'">Packages List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/scanner'">Scanner</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a class="nav-item nav-link"
                   style="pointer-events: none; color: #4879c7">Greetings, {{currentUser.fullName}}</a>
            </li>
            <li>
                <a class="nav-item nav-link" style="color: #b41010" (click)="openLogoutModal()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron bg-light-custom">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 offset-sm-2">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(228, 242, 254);">
        <p class="text-dark">Made with &hearts; Brilliant-Apps.Club</p>
        <p class="text-dark"><span>© 2021</span> Aravinda Rathnayake. All rights reserved.</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
