<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancelClick()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div>{{message}}</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="onLogout()">
        <span><i class="{{confirmIcon}}"></i></span> Yes
    </button>
    <a class="btn btn-link btn-sm" (click)="onCancelClick()">No</a>
</div>
