<button type="button" class="btn btn-outline-primary btn-sm" (click)="openAddNewModal()">
    <fa-icon [icon]="faSave"></fa-icon>
    Add CSV
</button> &nbsp;
<button type="button" class="btn btn-outline-danger btn-sm" (click)="openRemoveModal()">
    <fa-icon [icon]="faTrash"></fa-icon>
    Empty Package List
</button>
<br> &nbsp;
<ng-data-table
        [id]="'packages_list'"
        [title]="'Packages List'"
        [selectTrackBy]="'barcode'"
        [showHeader]="true"
        [showColumnSelector]="true"
        [minContentWidth]="800"
        [minContentHeight]="200"
        [limit]="10"
        [pageable]="true"
        [items]="packagesList"
        (init)="onDataTableInit($event)">
    <ng-data-table-column
            [field]="'barcode'"
            [title]="'Barcode'"
            [filterable]="true"
            [width]="50">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'lastScan'"
            [title]="'Assignee'"
            [filterable]="true"
            [sortable]="true"
            [width]="40">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'seqNo'"
            [title]="'Sequence No'"
            [filterable]="true"
            [sortable]="true"
            [width]="40">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'scanStatus'"
            [title]="'Scan Status'"
            [filterable]="true"
            [showDropdownFilter]="true"
            [sortable]="true"
            [width]="40">
        <ng-template #ngDataTableCell let-row="row">
            <td *ngIf="row.item.scanStatus === ScanStatus.COMPLETE" style="color: #4dc71f;">
                <span>{{ScanStatus.COMPLETE}}</span>
            </td>
            <td *ngIf="row.item.scanStatus === ScanStatus.PENDING" style="color: #b41010;">
                <span>{{ScanStatus.PENDING}}</span>
            </td>
        </ng-template>
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'nameAndAddress'"
            [title]="'Name and Address'"
            [filterable]="true"
            [width]="80">
    </ng-data-table-column>
    <ng-template #ngDataTableNoRecords>
        <h5>No packages detected, add CSV to appear here</h5>
    </ng-template>
</ng-data-table>

