<div class="container">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="openImportNewModal()">
        <fa-icon [icon]="faFileImport"></fa-icon>
        Import CSV
    </button> &nbsp;
    <button type="button" class="btn btn-outline-info btn-sm" [disabled]="!packagesList.length"
            (click)="openExportModal()">
        <fa-icon [icon]="faFileExport"></fa-icon>
        Export CSV
    </button>
</div>
<br>
<div class="container">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="openRemoveModal()">
        <fa-icon [icon]="faTrash"></fa-icon>
        Empty Dispatch List
    </button>
</div>
<br>
<ng-data-table
        [id]="'packages_list'"
        [title]="'Dispatching List'"
        [selectTrackBy]="'_id'"
        [showHeader]="true"
        [showColumnSelector]="true"
        [minContentWidth]="800"
        [minContentHeight]="200"
        [limit]="15"
        [pageable]="true"
        [items]="packagesList"
        [rowSelectable]="true"
        [selectMode]="'multi'"
        [showRowSelectCheckbox]="true"
        [selectionColumnWidth]="10"
        [selectedRows]="selectedRows"
        [showSubstituteRows]="true"
        (rowSelectChange)="onRowSelectChange($event)">
    <ng-data-table-column
            [field]="'barcode'"
            [title]="'Barcode'"
            [filterable]="true"
            [width]="50">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'lastScan'"
            [title]="'Assignee'"
            [filterable]="true"
            [showDropdownFilter]="true"
            [sortable]="true"
            [width]="40">
        <ng-template #ngDataTableCell let-row="row">
            <td>
                <fa-icon class="text-secondary" [icon]="faUser"></fa-icon>
                {{row.item.lastScan.toUpperCase()}}
            </td>
        </ng-template>
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'seqNo'"
            [title]="'Sequence No'"
            [filterable]="true"
            [sortable]="true"
            [width]="40">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'scanStatus'"
            [title]="'Scan Status'"
            [filterable]="true"
            [showDropdownFilter]="true"
            [sortable]="true"
            [width]="40">
        <ng-template #ngDataTableCell let-row="row">
            <td *ngIf="row.item.scanStatus === ScanStatus.COMPLETE">
                <fa-icon class="text-success" [icon]="faCheck"></fa-icon>
                {{ScanStatus.COMPLETE.toUpperCase()}}
            </td>
            <td *ngIf="row.item.scanStatus === ScanStatus.PENDING">
                <fa-icon class="text-warning" [icon]="faExclamation"></fa-icon>
                {{ScanStatus.PENDING.toUpperCase()}}
            </td>
        </ng-template>
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'nameAndAddress'"
            [title]="'Name and Address'"
            [filterable]="true"
            [width]="80">
    </ng-data-table-column>
    <ng-template #ngDataTableNoRecords>
        <h5>No packages detected, add CSV to appear here</h5>
    </ng-template>
</ng-data-table>

